<div class="d-flex align-items-center flex-column">
  <div
  id="map"
  style="width: 90%;
  height: 450px;
  margin-top: 25px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <div class="d-flex justify-content-between align-items-center flex-column">
    <% @bookmarked_restaurants.each do |restaurant| %>
      <%= render 'bookmarks-restaurant-card', restaurant: restaurant %>
    <% end %>
  </div>
</div>
