<div class="bookmarks-banner" style="background-image: linear-gradient(rgba(20,20,20,0.7),rgba(20,20,20,0.7)), url(https://pbs.twimg.com/media/DXClW1qW0AAZ9Nd.jpg);">
  <div class="container bookmarks-banner-heading">
    <h3>Bookmarked Restaurants</h3>
    <h5>See all your bookmarked restaurants here - your personal foodie wishlist!</h5>
  </div>
</div>
<div id="restaurant_index_container">
  <% if @bookmarked_restaurants.any? %>
    <div id="restaurant_index_cards_container">
      <% @bookmarked_restaurants.each do |restaurant| %>
          <%= render 'bookmarks-restaurant-card', restaurant: restaurant, followings_visits: @followings_visits %>
      <% end %>
    </div>
  <% else %>
    <div id="restaurant_index_cards_container">
        <div class="cards-title-meals">
          <h2 class="visits-title">No bookmarks yet.</h2>
          <h5 class=visits-title>Time to search for restaurants. The ones you bookmark will appear here.</h5>
        </div>
      </div>
  <% end %>
  <div id="restaurants_index_map_container" class="map-index">
    <div class="index-map"> <%= render 'shared/map' %> </div>
  </div>
</div>



