<div class="bookmarks-banner" style="background-image: linear-gradient(rgba(20,20,20,0.7),rgba(20,20,20,0.7)), url(https://pbs.twimg.com/media/DXClW1qW0AAZ9Nd.jpg);">
  <div class="container bookmarks-banner-heading">
    <h3>My Bookmarked Restaurants</h3>
    <h5>Make your personal foodie map</h5>
  </div>
</div>






<!-- <div class="bookmarks-title">
  <h2>Bookmarked Restaurants</h2>
  <h5><em></em></h5>
</div> -->

<div id="restaurant_index_container">

  <div id="restaurant_index_cards_container">
    <% @bookmarked_restaurants.each do |restaurant| %>
        <%= render 'bookmarks-restaurant-card', restaurant: restaurant, followings_visits: @followings_visits %>
    <% end %>
  </div>

  <div id="restaurants_index_map_container" class="map-index">
    <div class="index-map"> <%= render 'shared/map' %> </div>
  </div>

</div>



