<h2 class="bookmarks-title">Bookmarked Restaurants</h2>
  <h5 class="bookmarks-title"><em>Bookmark a restaurant, and it will appear here as part of your personal foodie map.</em></h5>


<div id="restaurant_index_container">

  <div id="restaurant_index_cards_container">
    <% @bookmarked_restaurants.each do |restaurant| %>
        <%= render 'bookmarks-restaurant-card', restaurant: restaurant, followings_visits: @followings_visits %>
    <% end %>
  </div>

  <div id="restaurants_index_map_container" class="map-index">
    <div class="index-map"> <%= render 'shared/map' %> </div>
  </div>

</div>



