.bookmarks-title {
  color: $MangeToo-green;
  text-align: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

// .bookmarks-index-container {
//   display: flex;
//   justify-content: flex-start;
//   background-color: gray;
//   margin-left: 2.5%;
//   margin-right: 2.5%;
// }

// .bookmarks-cards-container {
//   background-color: white;
//   max-width: 50%;
//   min-width: 50%;
// }


// .bookmarks-map-container {
//   background-color: white;
//   width: 0px;
//   max-width: 50%;
//   min-width: 50%;
// }

.bookmarks-banner {
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  /* height: 425px; */
}

.bookmarks-banner-heading {
  color: white;

    text-align: center;
    /* margin-top: 60px; */
    position: relative;

}


