.registration-container {
  display: flex;
  justify-content: center;
  height: 120vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1534080564583-6be75777b70a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}

.registration-form {
  width: 500px;
  padding: 20px 0;
  border-radius: 5px;
  margin: 35px 0;


  h2 {
    text-align: center;
    color: $MangeToo-green;
    font-weight: bolder;
    padding: 5px;
  }

  .btn {
    background-color: $MangeToo-green;
    color: #ffffff;
    margin: 10px 15px 5px 110px;
    padding: 10px 25px;
  }
}

