// BACKGROUND IMAGE, LOGO AND INFO

.sign-in-image {
  height: 87vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url('https://cdn.vox-cdn.com/thumbor/WwwpINLbv7Sszqkn7zn8KvbWDRk=/0x0:3840x2560/1200x800/filters:focal(1613x973:2227x1587)/cdn.vox-cdn.com/uploads/chorus_image/image/65784263/libr2fix.0.jpg');
  //g background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1484659619207-9165d119dafe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}

.home-page-logo {
  width: 170px;
  position: absolute;
  bottom: 320px;
  left: 42px;
}

.banner-flex {
  display: flex;
  flex-direction: column;
  padding: 128px 0 0 55px;
  justify-content: space-between;
  // padding-left: 50px;
  position: relative;
  height: 450px;
}


#catchphrase-one {
  letter-spacing: 1px;
  width: 600px;

  h3 {
    color: rgba(251,251,251,0.95);
    width: 80%;
    font-size: 42px;
    bottom: 90px;
    text-shadow: none;
    letter-spacing: 3px;
    padding: 15px 0 25px 0;
    font-weight: bolder;
  }
}

#catchphrase-two {
  letter-spacing: 1px;
  padding-bottom: 0px;
  width: 700px;

  h3 {
    color: rgba(251,251,251,0.95);
    width: 80%;
    font-size: 44px;
    bottom: 90px;
    text-shadow: none;
    letter-spacing: 3px;
    padding: 0px 0 45px 0;
    font-weight: bolder;
  }
}


// BUTTON BOX FOR LOGIN AND SIGN UP

.user-flex {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // flex-direction: column;
  // position: relative;
  // right: 250px;

  .login-link {
      width: 200px;
      height: 50px;
      // background-color: $MangeToo-brightred;
      // border-radius: 3px;
      color: white;
      font-size: 24px;
      font-weight: bold;
      padding-top: 50px;
  }

  .sign-up-button a{
    width: 200px;
    height: 80px;
    background-color: $MangeToo-green;
    border-radius: 3px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 60px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;

  }
}

// POP UP MODAL FOR LOGIN

.sign-in-card {
  background-color: rgba(251,251,251,0.95);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
  right: 150px;

  h3 {
    text-align: center;
    color: $MangeToo-green;
  }

  .form-check-label {
    color: $MangeToo-green !important;
  }

  .form-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 400px;
    padding: 10px;
  }
}

  .btn {
       color: #ffffff;
       font-size: 18px;
       font-family: Lato;
       text-decoration: none;
  }

.form-group {
  width: 60%;
  margin: 0 auto;
}

.optional {
  font-family: $body-font;
  color: $MangeToo-green;
  padding: 5px;
  font-weight: bold;
}

.sign-in-links {
  color: $MangeToo-green !important;
  margin-left: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
}

.hvr-float {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        color: #ffffff;
      }
      .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
      }

// HOW IT WORKS SECTION

.how-it-works {

  h3 {
    color: $MangeToo-green;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
  }
}

.description-grid {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.icon-description {
  text-align: center;
  margin: 30px;
  box-shadow: 0 0 5px rgba(20, 20, 20, 0.5);
  width: 18%;

  img {
    width: 45%;
    height: auto;
    padding-top: 20px;
  }


  .fas {
    color: $MangeToo-green;
    font-size: 85px;
    padding-top: 30px;
  }

  p {
    color: rgba(80, 80, 80, 0.9);
    font-size: 18px;
    font-weight: lighter;
    padding: 15px 15px 0 15px;
  }


}


// @media(max-width: 2492px) {
//   .sign-in-image {
//     height: 87vh;
//   }
// }


// @media(max-width: 1268px) {
//   .sign-in-image {
//     min-height: 97vh;
//   }
// }







