.registration-container {
  margin: 50px;
  position: absolute;


  h2 {
    margin: 50px;
    text-align: center;
    color: $MangeToo-green;
  }
}

.registration-form {
  width: 600px;
  padding: 30px 0;
  position: relative;
  left: 70%;

}
