// Import page-specific CSS files here.
@import "home";
@import "devise-sign-in";

#restaurant_index_container {
  display: flex;
  justify-content: flex-start;
  background-color: gray;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#restaurant_index_cards_container {
  background-color: red;
  max-width: 50%;
  min-width: 50%;
}

#restaurants_index_map_container {
  background-color: blue;
  width: 0px;
  max-width: 50%;
  min-width: 50%;
  padding-bottom: 75%;
}


