.upcoming-visits-container, .previous-visit-container {
  margin-top: 20px;
  width: 90%;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  background-color: $MangeToo-green;
  border-radius: 5px;
  padding: 20px 10px;
  h2 {
    color: $MangeToo-green;
    font-weight: bold;
  }
}

.previous-visit-container {
  margin-bottom: 30px;
}

.visits-title {
  color: white;
  text-align: center;
}
.cards-title-meals {
  border: 1px solid $MangeToo-green;
  margin-bottom: 20px;
  background-color: $MangeToo-green;
}
