<div class="bookmarks-banner" style="background-image: linear-gradient(rgba(20,20,20,0.7),rgba(20,20,20,0.7)), url(https://pbs.twimg.com/media/DXClW1qW0AAZ9Nd.jpg);">
  <div class="container bookmarks-banner-heading">
    <h3>Track your Foodie Adventures</h3>
    <h5>Upcoming and Previous Meals</h5>
  </div>
</div>

  <div id="restaurant_index_container">

    <% if @upcoming_visits.any? %>
      <div id="restaurant_index_cards_container">
        <% @upcoming_visits.map {|v| v.restaurant}.each do |restaurant| %>
          <%= render 'visit_card', restaurant: restaurant, review_hash_array: @review_hash_array %>
        <% end %>
      </div>
    <% else %>
      <p>-----</p>
      <p>No upcoming visits! Perhaps you could take a look at where your friends have been recently?</p>
      <p>-----</p>
    <% end %>

    <div id="restaurants_index_map_container" class="map-index">
      <div class="index-map"> <%= render 'shared/map' %> </div>
    </div>

  </div>
