<div id="restaurant_index_container">

  <div id="restaurant_index_cards_container">
    <% @restaurants.each do |restaurant| %>
      <%= render 'shared/restaurant_card', restaurant: restaurant %>
    <% end %>
  </div>

  <div id="restaurants_index_map_container" class="map-index">
    <div id="index-map"> <%= render 'shared/map' %> </div>
  </div>

</div>
