<h1> Restaurant index.html.erb</h1>

<div id="restaurant_index_container">

  <div id="restaurant_index_cards_container">
    <% @restaurants.each do |restaurant| %>
      <%= render 'shared/restaurant_card', restaurant: restaurant %>
    <% end %>
  </div>

  <div id="restaurant_index_map_container">
    <div id="test_map"></div>
  </div>

</div>

<%= link_to "Home Page", root_path %>

