.banner {
  background-size: cover;
  background-position: center;
  padding: 45px 0;
  height: 425px;

 .container {
  width: 60%;
 }
}

#banner-heading {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
  position: relative;
}

 .bannerbtn {
  background-color: #FF575C;
  color: white;
  border-radius: 2px;
  padding: 9px 20px;
  // width: 120px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-right: 10px;
 }


 .bannerbtn:hover {
  background-color: #09B07E;
  text-decoration: none;
  color: white;
 }

 .banner-form-control {
  margin-top: 20px;
  width: 450px;
  padding: 8px 10px;
  left: 2%;
  border-radius: 2px;
  border: 1px solid white;

 }

 .bannerbtngreen {
  background-color: #09B07E;
  color: white;
  border-radius: 2px;
  padding: 9px 20px;
  width: 120px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-right: 10px;
 }

 .bannerbtngreen:hover {
  background-color: #FF575C;
  text-decoration: none;
  color: white;
 }



