.foodies-banner {
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  // height: 350px;
}

.foodies-banner-heading {
  color: white;
  text-align: center;
  h5 {
    font-weight: lighter;
  }
}
