.bookmarks-restaurant-card {
  width: 70%;
  max-width: 1000px;
  min-width: 400px;
  display: flex;
  justify-content: flex-start;
  margin: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color: white;
  border-radius: 10px;
  height: 260px;
  border-radius: 3px;
  .restaurant_card_carousel {
    height: 260px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
  }
}

.bookmarks-restaurant-card:first-child {
   margin-top: 20px;
 }

 .bookmarks-restaurant-card:last-child {
   margin-bottom: 30px;
 }

.btn-reviewers {
  margin-right: 5%;
  margin-left: 2.5%;
  margin-top: 10px;
}

.btn-details {
  margin-left: 5%;
  margin-right: 2.5%;
  margin-top: 10px;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
  border-radius: 5px;
}

.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
  border-radius: 5px;
}

.btn-link {
  color: white !important;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
