.review-index-card {
  width: 70%;
  margin: 7px;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  background-color: white;
  border-radius: 5px;
  .review-details {
    font-size: 0.7rem;
  }
  #address {
    font-size: 0.8rem;
  }
  .review-body {
    padding: 7px 20px;
    width: 60%;
  }
  h2 {
    padding-bottom: 10px;
  }
  .review-index-card-carousel {
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    max-width: 350px;
  }
}

.review-index-card:first-child {
  margin-top: 20px;
}

.review-index-card:last-child {
  margin-bottom: 30px;
}

.modal-review-details {
  padding: 0;
}

