.card-container {
  // display: flex;
  // justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin-left: 25px;
  margin-right: 20px;


}

.card-home {
  overflow: hidden;
  height: 180px;
  width: 98%;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 100px 5px 5px 100px;

  .name_date_flex {
    display: flex;
    justify-content: space-between;
    width: 400px;

  }

   img {
    height: 100%;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    position: relative;
    right: 8px;
  }

   h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
    color: $MangeToo-green
  }

   h3 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 5px;
    font-weight: lighter;
   }

   p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin: 5px 0;
    max-width: 410px;

    .see_more_btn {
      font-size: 15px;
    }
  }

  .home-date {
    font-size: 0.7rem;
    font-weight: lighter;
  }

  .card-home-infos {
    // padding: 12px 12px;
    margin: 12px 12px;
  }
}


@media(max-width: 1492px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media(max-width: 1268px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 468px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}


