.card-foodies {
  height: 120px;
  width: 350px;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  display: flex;
  border-radius: 100px 5px 5px 100px;
  .card-foodies-infos {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 12px 5px 12px 5px;
    flex-direction: column;
    p {
      padding-top: 5px;
    }
  }
   p {
    font-size: 12px;
    margin: 0;
  }
  .name-header {
    img {
    width: 40px;
    height: 40px;
    }
  }
  .foodie-details {
    position: relative;
    img {
    width: 20px;
    height: 20px;
    }
  }
  .add-foodie {
    position: absolute;
    right: -3px;
    bottom: 0px;
    background-color: white;
    i {
      font-size: 30px;
      color: $MangeToo-green;
    }
  }
}

.foodie-avatar {
  img {
    height: 100%;
    width: 120px;
    min-width: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    position: relative;
    right: 8px;
  }
}

.superfoodie-avatar {
  img {
    height: 100%;
    width: 120px;
    min-width: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    position: relative;
    right: 8px;
    border-style: solid;
    border-width: medium;
    border-color: $MangeToo-green;
  }
}

.foodies-hvr-grow {
  // display: inline-block;
  // vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  // box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.foodies-hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
