.card-container {
  // display: flex;
  // justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-left: 35px;
  margin-right: 5px;
  margin-bottom: 30px;

}

.card-home {
  overflow: hidden;
  height: 260px;
  width: 95%;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 3px;
  margin-bottom: 25px;
  margin-right: 20px;
  position: relative;

  .user-flexbox {
    display: flex;
    width: 100%;
    padding: 0 10px;
    margin-top: auto;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 5px;

    h3 {
      margin-top: 16px;
      font-size: 16px;
      flex-grow: 1;
    }

    .avatar {
      border: none;
      margin-left: 5px;
      padding-top: 3px;
    }

    .avatar img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      padding-top: 5px;
    }

    .date-grid {
     // display: grid;
     // grid-template-columns: 1fr;
     // grid-gap: 0px;
     // margin-left: 100px;
    }
  }


   img {
    height: 100%;
    width: 240px;
    object-fit: cover;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    position: relative;
    right: 8px;
  }

   h2 a {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0;
    color: #09B07E;


    &:hover {
      color: #FF575C;
      text-decoration: none;
    }
  }

   h3 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 50px;
    font-weight: lighter;

   }

   p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin: 5px 0;
    max-width: 410px;

    .see_more_btn {
      font-size: 15px;
    }
  }


  .home-date {
    font-size: 0.7rem;
    font-weight: lighter;
  }

  .card-home-infos {
    // padding: 12px 12px;
    margin: 12px 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.home-review-content {
  text-align: left;
  padding-top: 10px;
}


@media(max-width: 1492px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media(max-width: 1068px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 468px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}




