.mangetoo_SVG_Grid {
  fill: #26FCBC;;
  stroke: #26FCBC;;
  stroke-width: 7;
}

.round {
  stroke-linejoin: round;
}

.svg_part_a {
  fill: #09B07E;
  stroke: #09B07E;
}
.svg_part_b {
  fill: #026346;
  stroke: #026346;
}
.svg_part_c {
  fill: #FF575C;;
  stroke: #FF575C;;
}
.svg_part_d {
  fill: #26FCBC;
  stroke: #26FCBC;
}
.svg_part_e {
  fill: #26FCBC;
  stroke: #26FCBC;
}
.svg_part_f {
  fill: #26FCBC;
  stroke: #26FCBC;
}
