.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  background-color: white;
  border-radius: 10px;
}
