.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // //Optional Sticky Navbar
  // position: sticky;
  // top: 0px;
  // z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.mangetoo-logo {
  font-family: $MangeToo-logofont;
  font-size: 36px;
  color: $MangeToo-green !important;
  letter-spacing: 1px;

  &:hover {
    color: $MangeToo-brightred !important;
  }
}

.nav-link, .dropdown-item {
  color: $MangeToo-green !important;

  &:hover {
    color: $MangeToo-brightred !important;
  }
}

.nav-link {
  margin-right: 5px;
}

.nav-item {
  margin-top: 8px;
}

.dropdown {
  margin-top: none;
}
