<h1>Reviews Index</h1>

<% @reviews.each do |review| %>
  <div class="card">
    <p><%= review.content %></p>
    <p>Rating: <%= review.rating %></p>
  </div>
<% end %>

<%= link_to "Home Page", root_path %>
